#logo1 {
    width: 100px;
    border-radius: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Seção de Vôlei */
.volleyball-section {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(0, 75, 133, 0.1);
    flex-grow: 1;
}

.volleyball-section h2 {
    font-size: 36px;
    color: rgba(0, 75, 133, 1);
    margin-bottom: 40px;
}

.match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.team {
    text-align: center;
}

.team img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team h3 {
    font-size: 24px;
    color: rgba(0, 75, 133, 1);
}

.versus h2 {
    font-size: 48px;
    color: rgba(0, 75, 133, 1);
}

.bet-container {
    margin-top: 30px;
}

.bet-btn {
    font-size: 18px;
    background-color: rgba(0, 75, 133, 1);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.bet-btn:hover {
    background-color: rgba(0, 75, 133, 0.9);
}