* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andale Mono', monospace;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: white;
    color: rgba(0, 75, 133, 1);
}

#root {
    display: flex;
    flex-direction: column;
}